/* ========== GOOGLE FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

/* ========== VARIABLE CSS ========== */
:root {
  --header-height: 3.5rem;

  /* Colors */
  --firt-color: #f04557;
  --body-color: #050f1c;
  --nav-color: #111;
  --nav-color-mobile: #3c3c3c;
  --text-color: #fff;
  --box-color: #0f1b27;

  /* Fonts */
  /* .5rem = 8px | 1rem = 16px */
  --body-font: "Gemunu Libre", sans-serif;
  --desc-font: "Poppins", sans-serif;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ========== RESPONSIVE TYPOGRAPHY ========== */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ========== BASE ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
}

body {
  /* margin: var(--header-height) 0 0 0; */
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

/* scroll container */
.scroll-header {
  background-color: #111;
}

/* ========== HEADER ========== */
.header {
  width: 100%;
  /* background-color: transparent; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 9rem;
}

.nav__toggle {
  display: inline-flex;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--nav-color-mobile);
    opacity: 0.9;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 50%;
    padding: 4rem 0;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  transition: 0.4s;
}

.nav__link.active,
.nav__link:hover {
  color: var(--firt-color);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Blur */
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: var(--z-tooltip);
  transition: 0.4s;
  display: none;
}

.show-blur {
  display: block;
}

/* ========== MAIN ========== */
/* HOME */
.home__media {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.home__container {
  position: relative;
  height: 100vh;
  row-gap: 3rem;
}

.home__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.home__img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

/* Platform */
.platform {
  padding-top: 3rem;
  background: url(../img/platform/bg.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.platform__container {
  row-gap: 2rem;
}

.platform__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.platform__item {
  position: relative;
  padding: 2rem;
  height: 300px;
  overflow: hidden;
  margin-bottom: var(--mb-2-5);
}

.platform__item:hover .platform__img {
  transform: scale(1.5);
}

.platform__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 2s;
  overflow: hidden;
}

.platform__img img {
  max-width: 200%;
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1-5);
  position: relative;
  z-index: 1;
}

.platform__icon {
  width: 2rem;
  margin-left: 1.5rem;
}

.title span {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.desc {
  position: relative;
  font-size: var(--normal-font-size);
  font-family: var(--desc-font);
  z-index: 1;
}

/* TECHNICAL */
.technical {
  padding-top: 3rem;
  background: url(../img/support/bg.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.technical__container {
  row-gap: 2rem;
}

.technical__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.technical__item {
  background-color: var(--box-color);
  padding: 1.5rem;
  margin-bottom: var(--mb-2-5);
  transition: 0.4s;
}

.technical__item:hover {
  transform: scale(1.05);
}

.technical__item-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
}

.technical__item-icon {
  margin-left: 1rem;
}

.technical__item-desc {
  font-family: var(--desc-font);
}

/* Feature */
.feature {
  margin-bottom: var(--mb-2-5);
}

.feature__container {
  row-gap: 5rem;
  justify-items: center;
}

.feature__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 1.5rem;
}

.feature__left-img {
  width: 100%;
  height: auto;
  margin-bottom: var(--mb-2-5);
  animation: myfirst 3s infinite;
}

@keyframes myfirst {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -30px);
  }
  100% {
    transform: translate(0px px, 0px);
  }
}

.feature__left-link {
  font-family: var(--desc-font);
  color: var(--text-color);
  padding: 8px 15px;
  background: var(--firt-color);
  opacity: 0.9;
  border-radius: 30px;
  transition: 0.4s;
}

.feature__left-link:hover {
  opacity: 1;
}

.feature__right-title {
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-1-5);
}

.feature__right-list {
  background-color: var(--box-color);
  padding: 1.5rem;
}

.feature__right-item {
  display: grid;
  row-gap: 1.5rem;
  margin-bottom: var(--mb-2-5);
  transition: 0.4s;
}

.feature__right-item:hover {
  transform: scale(1.05);
}

.feature__item-desc {
  font-family: var(--desc-font);
}

/* AWARDS */
.awards {
  margin-bottom: var(--mb-2-5);
}

.awards__list {
  background-color: var(--box-color);
  padding: 1.5rem;
  display: block;
}

.award__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
}

.awards__item {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-1-5);
  max-width: 420px;
  transition: 0.4s;
}

.awards__item:hover {
  transform: scale(1.05);
}

.awards__img {
  margin-right: 1.5rem;
}

.awards__desc {
  padding: 0.8rem 1rem;
  background-color: var(--body-color);
  border-radius: 0.5rem;
  font-family: var(--desc-font);
  font-size: var(--small-font-size);
  text-align: left;
  width: 100%;
}

.awards__media {
  overflow: hidden;
  width: 100%;
  min-height: 300px;
}

.awards__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* PARTNERSHIP */
.partnership__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding-bottom: var(--mb-2-5);
}

.partnership__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
}

/* ========== FOOTER ========== */
.footer {
  padding: 2rem 0;
  background: url(../img/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  row-gap: 2.5rem;
}

.footer__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__email {
  max-width: 300px;
  border: 1px solid #fff;
  display: flex;
}

.footer__email-input {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  padding: 0.8rem 1rem;
  background: transparent;
  outline: none;
  border: none;
  width: 200px;
}

.footer__email-btn {
  font-size: var(--h2-font-size);
  padding: 0.8rem 1rem;
  background: transparent;
  color: #f04557;
  /* width: 100px; */
  flex: 1;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex: 1;
}

.footer__item {
  width: 70px;
  height: 70px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: 0.4s;
  position: relative;
}

.footer__item:hover {
  transform: scale(1.1);
}

.footer__link {
  line-height: 0;
  display: block;
  width: 70px;
  height: 70px;
  border: solid 1px #4c6874;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ========== SCROLL UP ========== */
.scrollup {
  width: 50px;
  height: 50px;
  background-color: var(--box-color);
  position: fixed;
  bottom: -30%;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.show-scroll {
  bottom: 2rem;
}

/* ========== FOR SMALL DEVICES max 320px ========== */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .footer__email-input {
    width: 160px;
  }
}

/* ========== FOR MEDIUM DEVICES min 576px ========== */

/* ========== FOR MEDIUM DEVICES min 767px ========== */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .home__img {
    top: 65%;
  }

  .language {
    background-color: var(--firt-color);
    border-radius: 1.5rem;
  }

  .language a {
    display: block;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
    font-size: var(--h3-font-size);
  }

  .language:hover a {
    color: #fff;
  }
}

/* ========== FOR LARGE DEVICES min 992px ========== */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__title {
    font-size: 4rem;
  }

  .home__img {
    top: 75%;
  }

  .platform__container {
    padding: 2rem 0;
  }

  .platform {
    padding: 0;
  }

  .platform__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .platform__item {
    margin-bottom: 0;
  }

  .technical__list {
    width: 50%;
  }

  .feature__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }

  .feature__left {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .feature__left-img {
    margin-bottom: 3rem;
  }

  .awards__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .partnership__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
